@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>

    <div class=contaniner>
        Välkommen till Garage 2.0
        <br /><br />
        <p>
            <a class="btn btn-primary" asp-controller="Vehicles" asp-action="Create">Checka in nytt fordon</a>
        </p>
    </div>

    <a class="btn btn-primary">primary</a>
    <br /><a class="btn btn-secondary">secondary</a>
    <br /><a class="btn btn-info">info</a>
     <br /><a class="btn btn-warning">warning</a>
    <br /><a class="btn btn-close">close</a>
    <br /><a class="btn btn-check">check</a>
    <br /><a class="btn btn-outline-danger">outline-danger</a>
    <br /><a class="btn btn-light">light</a>
    <br /><a class="btn btn-toolbar">toolbar</a>
    <br /><a class="btn btn-info btn-sm">sm</a>
    <br /><a class="btn btn-info btn-lg">lg</a>
    <br /><br /><br /><br />
    <hr />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
